.box {
    height: 200px;
    width: 200px;
    border: solid 5px blueviolet;
    margin: 5px;
    display: inline-block;
}

.box1 {
    background-color: chartreuse;
    box-sizing: border-box;
}

.box3 {
    background-color: darkgreen;
    box-sizing: content-box;
}

